/********************
******************** GENERAL
********************/

* {
  font-family: 'Nunito', sans-serif;
}

body {
  background: hsla(241, 95%, 84%);
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

#page-test1, #page-test2, #page-test3, .connexion-div-desktop {
  display: none;
}

h1 {
  text-align: center;
  width: 100%;
  top: 20%;
}

body {
  margin: 0;
  padding: 0;
}

section {
  text-align: center;
  width: 100%;
  position: absolute;
}

/********************
******************** PAGE 1 / accueil 
********************/

#accueil {
  position: absolute;
  top: 32%;
  display: flex;
  justify-content: center;
}

#accueil div {
  max-width: 750px;
}

#accueil h1 {
  font-size: 42px;
}

#accueil p {
  font-size: 20px;
  line-height: 1.6em;
}

#accueil .commencer {
  padding: 20px;
  font-weight: bold;
  font-size: 22px;
  cursor: pointer;
  border-radius: 42px;
  transition: all 2s;
}

#accueil .commencer:hover {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 42px;
  transition: all s;
}

/********************
******************** PAGE 2 / connexion
********************/

#connexion-div {
  position: absolute;
  width: 100%;
}

.intro {
  width: 50%;
  margin: 0 auto;
}

#id {
  border: 1px solid;
  padding: 10px;
  width: 100px;
  margin: 0 auto;
}

/********************
******************** PAGE 3 / question 1
********************/

#questions-div {
  display: none;
}

/********************
******************** PAGE 4 / question 2
********************/

.test-element {
  height: 100px;
  background-color: #9ac3dc;
  width: 100px;
  z-index: 5;
  position: absolute;
  top: 15px;
  left: 15px;
  color: white;
  text-align: center;
  border-radius: 50%;
  -ms-touch-action: none;
}

.test-element:nth-child(2) {
  top: 150px;
  background-color: #df8dbd;
  left: 150px;
}

.test-element:nth-child(3) {
  background-color: #f99a89;
  top: 50px;
  left: 100px;
}

#ball {
  z-index: 20;
  -webkit-transition: all;
  transition: all;
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #fff;
  -webkit-box-shadow: 2px 2px 25px 2px rgba(0, 0, 0, 0.2);
}

.reponse1, .reponse2 {
  width: 40%;
  padding: 20px;
  margin-left: 30px;
  margin-right: 15px;
  float: left;
  overflow: hidden;
}

.reponse1:hover, .reponse2:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.reponses {
  position: absolute;
  width: 100%;
  top: 40%;
}

#mask-terrien {
  font-size: 60px;
  font-weight: 700;
  font-family: 'Lobster Two', cursive;
  text-align: center;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2), 0px 2px 0px rgba(255, 255, 255, 0.3);
  background-image: -webkit-radial-gradient(center 10px, 80px 100px, #111111 50%, brown 51%);
  background-size: 40px 110px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation-name: wave-animation;
  -webkit-animation-duration: 13s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}

#mask-aquaphile {
  font-size: 60px;
  font-weight: 700;
  font-family: 'Lobster Two', cursive;
  text-align: center;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2), 0px 2px 0px rgba(255, 255, 255, 0.3);
  background-image: -webkit-radial-gradient(center 10px, 80px 100px, #111111 50%, #0099ff 51%);
  background-size: 40px 110px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation-name: wave-animation;
  -webkit-animation-duration: 13s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}

@-webkit-keyframes 'wave-animation' {
  0% {
    background-position: 200px 10px;
  }
  50% {
    background-position: 100px -20px;
  }
  100% {
    background-position: 0px -40px;
    ;
  }
}

/********************
******************** NAVIGATION
********************/

nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline-block;
  background-color: white;
  color: #aaa;
  padding: 10px 25px;
  border-radius: 30px;
  margin-right: 15px;
  margin-bottom: 10px;
  cursor: pointer;
}

nav ul li:nth-child(3) {
  margin-right: 0;
}

#button_test1 {
  cursor: pointer;
}

/********** EXEMPLE 2 **********/